.buttons{
    -fx-background-color: #67e3d9;
    -fx-cursor: hand;
}

.buttons:hover{
    -fx-background-color: #479ab7;
    -fx-cursor: hand;
}

.tab-label { /*Label color for each one*/
    -fx-text-fill: #67e3d9;
    -fx-font-weight: bold;
}

.tab-pane .tab:selected {
    -fx-background-color: #67e3d9;
}

.tab-pane .tab:selected .tab-label {
    -fx-text-fill: black;
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
}

.tab-pane .tab {
    -fx-background-color: #0B3142FF;
}

.tab .tab-label {
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
}

.tab-pane .tab:selected {
    -fx-background-color: #67e3d9;
}

.tab-pane .tab:selected .tab-label {
    -fx-text-fill: black;
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
}

.tab-pane *.tab-header-background {
    -fx-background-color: rgb(16, 70, 100);
}

.tabpane-bg {
    -fx-background-color: #0B3142FF;
}

#accountTypeMessage{
    -fx-text-fill: white;
}

.labelColor{
    -fx-text-fill: white;
}

.labelWeight{
    -fx-font-weight: bold;
}

.choice-box {
    -fx-background-color: #134a64;
    -fx-mark-color: #67e3d9;
}

.choice-box > .label {
    -fx-text-fill: #fafafa;
}

.choice-box .context-menu {
    -fx-background-color: #134a64;
}

.choice-box .context-menu {
    -fx-pref-width: 200;
}

.choice-box .menu-item:focused {
    -fx-background-color: #67e3d9;
}

.choice-box .menu-item > .label {
    -fx-text-fill: #fafafa;
}

.choice-box .menu-item:focused > .label {
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.inputText {
    -fx-background-color: #134a64;
    -fx-text-fill: white;
}